#main-footer {
  background-color: #dfdfdf;
  padding: 20px 0;
}

.footer-container {
  margin: 0 auto;
}


.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #999;
  justify-content: center;
}

.footer-content a {
  text-decoration: none;
}

.copyrighttext {
  color: #c3c3c3;
}
